<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ShowTrackr</title>
  <link rel="icon" type="image/png" href="favicon.png"/>
  <link href="stylesheets/style.css" rel="stylesheet">
      <link href="stylesheets/animations.css" rel="stylesheet">
</head>
<body data-ng-cloak="">
    <div ng-controller="NavbarController" class="navbar navbar-default navbar-static-top"
     role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <span class="glyphicon glyphicon-film"></span>
      Show<strong>Trackr</strong></a>
  </div>
  <ul class="nav navbar-nav">
    <li data-match-route="/$"><a href="/">Home</a></li>
    <li data-match-route="/add"><a href="/add">Add</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li data-match-route="/login"><a href="/login">Login</a></li>
    <li data-match-route="/signup"><a href="/signup">Sign up</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="currentUser">
    <li class="navbar-text" ng-bind="currentUser.email"></li>
    <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
  </ul>
</div>
    
     <div class="slide-animation-container">
        <div data-ng-view="" id="ng-view" class="slide-animation"></div>
    </div>
  
      <div data-wc-overlay="" data-wc-overlay-delay="300">
        <br /><img src="images/spinner.gif" />&nbsp;&nbsp;Loading
    </div>

<script src="vendor/angular.js"></script>
<script src="vendor/angular-strap.js"></script>
<script src="vendor/angular-strap.tpl.js"></script>
<script src="vendor/angular-messages.js"></script>
<script src="vendor/angular-resource.js"></script>
<script src="vendor/angular-route.js"></script>
<script src="vendor/angular-cookies.js"></script>
<script src="vendor/moment.js"></script>
<script src="vendor/angular-animate.min.js"></script>
<script src="vendor/angular-ui-bootstrap.js"></script>    
    

<script src="app.js"></script>
<script src="animations/listAnimations.js"></script>    

<script src="controllers/MainController.js"></script>
<script src="controllers/AddController.js"></script>
<script src="controllers/DetailController.js"></script>
<script src="controllers/LoginController.js"></script>
<script src="controllers/SignupController.js"></script>
<script src="controllers/NavbarController.js"></script>
    
<script src="filters/fromNow.js"></script>    
    
<script src="services/ShowService.js"></script>
<script src="services/SubscriptionService.js"></script>
<script src="services/AuthenticationService.js"></script>
<script src="animations/listAnimations.js"></script>
    
<script src="directives/repeatPassword.js"></script> 
    <script src="directives/lazyLoader.js"></script> 
    <script src="directives/wcOverlay.js"></script> 
</body>
</html>